/* 🖥 PC */
@media (min-width: 1025px) {

  .hero-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-content {
    width: 60%;
  }

  .hero-image {
    width: 40%;
  }

  .skills-grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }

}